body{
    font-family: 'Nanum Myeongjo', serif;
    background-image: url("../images/cinderellaBackground.png");
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#textDiv{
    color: #FEEDBF;
   margin-left: 15px;
   font-size:1vw;
    
}

#coachmanDiv{
    position: fixed;
    right: 27.5%;
    height: 20%;
    width: 3.5%;
    bottom: 35%;
    transform: rotate(-1deg);
}

#coachmenDivLegs{
    position: fixed;
    right: 30.5%;
    height: 12%;
    width: 2.5%;
    bottom: 29%;
    transform: rotate(-1deg);
}


#door{
    /*font-family: 'Bebas Neue';
    font-size: 50px;*/
    display: none;
    
    /*width:150px;
    height:150px;
    background-color: #9e847b;
    border:10px ridge #382929;
    color:black;
    border-bottom:dotted;
    padding:absolute;
    left:20;
    bottom:0;*/

}


#container{
    display: flex;
    flex-direction: row;
}

#doorAlign{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    position: fixed;
    right: 0;
    bottom: 0;
}

#Header{
    font-size: 120px;
    color: #caae62;
    font-size:8vw;
}


#storyDiv{
    top: -30px;
    position: relative;
}