body{
    font-family: 'Marck Script', cursive;
    background-image: url("../images/BackgroundImageCinderella.png");
    background-size: cover;
}

#riddleDiv{
    /*background-color: red;*/
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}

#textDiv{
    /*background-color: blue;*/
    color: #FEEDBF;
}

#coachmanDiv{
    background-color: red;
    position: fixed;
    right: 47%;
    height: 200px;
    width: 100px;
    bottom: 30%;
}

#coachmenDivLegs{
    background-color: red;
    position: fixed;
    right: 55%;
    height: 100px;
    width: 50px;
    bottom: 20%;}

#door{
    display: none;
}