.fullBoard{
    border: 5px solid black;
    background-color: black;
    height: 15%;
    width: 22%;
    top: 20%;
    left: 20%;
    position: absolute;
}

.board{
    display: grid;
    float: left;

}

.pegs{
    display:grid;
    height: 100%;
    width: 20%;
    float: right;
    margin-top: 0px;
}

.colorBoard{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 10.5%;
    height: 32.5%;
    border: 5px solid black;
    top: 15%;
    left: 45%;
    position: fixed;
}

.currentColor{
    width: 10.5%;
    height: 6%;
    border: 5px solid black;
    top: 49%;
    left: 45%;
    position: fixed;
}



.submit{
    position: fixed;
    width: 10.5%;
    height: 4%;
    border: 5px solid black;
    font-size: 184%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
    opacity: .7;
    left: 45%;
    top: 57%;
}

.submit:hover{
    cursor: pointer;
    opacity: 1;
}

.other{
    margin-left: 100px;
}

#exit {
    font-size: 180%;
    padding: 0.5%;
    color:black;
    background-color: gray;
    border-width: 5px;
    border-color: black;
 }
 #exit:hover {
    font-size: 180%;
    padding: 0.5%;
    color:white;
    background-color: black;
    border-width: 5px;
    border-color: gray;
 }

 body {
    background: url(../media/candy_house_blurred.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#expl {
    left: 30%;
    position: fixed;
    font-size: 300%;
    color: aliceblue;
    top: 60%;
}