body {
    background: url(../media/candy_house.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
  }

#oven {
    margin-left: 27%;
    margin-top: 24%;
    height: 36%;
    width: 36%;
    transform: rotate(-1deg);
}

#hansel_in_cage {
    margin-left: 10%;
    margin-top: 15%;
    height: 60%;
    transform: rotate(-1deg);
}

#door {
    margin-bottom: 9%;
    margin-top: 9%;
    padding-right: 17%;
    margin-left: 2%;
    transform: rotate(-1deg);
}

.pop {
    text-align: center;
    background-color: #aa7379;
    font-size: 300%;
    color: #FCFCFC;
    top: 0;
    left:50%;
    width: 30%;
    height: 50%;
    position: absolute;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
 }
 
 .popUp {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
 }

 #exit {
    background-color: #aa7379 ;
    font-size: 150%;
    border: none;
    margin-left: 80%;
 }

 #code_row {
    display: flex;
    justify-content: space-around;
    height:15%;
 }

 .num {
    width: 10%;
    font-size: 30%;
 }
  
 #submit {
    font-size: 40%;
    padding: 0.5%;
    color:black;
    border-color: gray;
    border-width: 5px;
    background-color: white;
 }
 #submit:hover {
    font-size: 40%;
    padding: 0.5%;
    color:white;
    background-color: black;
    border-width: 5px;
    border-color: gray;
 }