body{
    background: url(house.jpg) no-repeat center center fixed; 
    background-size: cover;

}
h1{
    text-align: center;
  background-color: green;
    
    font-family: 'Fascinate Inline', cursive;
  }
h2{

} 