body{
  font-family: 'Nova Round', cursive;
  background-image:url("../images/sea.jpg");
  background-size: cover;
  margin-top: 100px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1{
  color: rgb(9, 19, 57);
  background-color: rgba(132, 190, 252, 0.5);
}
h3,h1{
  color: rgb(9, 19, 57);
  text-align: center;
}

h3:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 187);
  color: rgb(9, 19, 57);
}
.q2{
  color:rgb(196, 196, 196);
  background-color: rgba(38, 58, 80, 0.6);
}
#doorImg{
  height: 40%;
  width: 30%;
  left: 68%;
  top: 66%;
  position:absolute;
  border-radius: 90px;
  visibility: hidden;  
}
.correctAnswer{
  background-color: rgb(0, 255, 76);
  pointer-events: none;
}
.wrongAnswer{
  background-color: rgb(255, 68, 0);
  pointer-events: none;
}

.center{
  text-align: center;
  font-size: 25px;
}

