body{
    background-image: url("../images/bg-blank-new.jpeg");
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}


#wolf {
    position: fixed;
    width: 10%;
    height: 11%;
    top: 4.9%;
    right: 39%;
    transform: rotate(16.5deg);
    z-index: -1;
}

#wolf_tail {
    position: fixed;
    width: 3%;
    height: 10%;
    top: 3.5%;
    right: 53%;
    transform: rotate(-24deg);
    z-index: -1;
}

#grandmother {
    position: fixed;
    width: 10%;
    height: 18%;
    top: 5.2%;
    left: 2.8%;
    transform: rotate(-36deg);
    z-index: -1;
}

#explane_text {
    top: 30%;
    text-align: center;
    margin-top: 20%;
}
#explane_text span{
    background-color: rgba(255, 255, 255, 0.724);
    padding: 0.4%;
}



#cape {
    position: fixed;
    width: 7%;
    height: 14%;
    top: 43.5%;
    right: 10%;
    transform: rotate(38.3deg);
    z-index: -1;
}

#book {
    position: fixed;
    width: 8.5%;
    height: 11%;
    top: 51.6%;
    right: 45.3%;
    transform: rotate(-37deg);
    z-index: -1;
}


#items_counter {
    text-align: right;
    position:absolute;
    right: 5%;
    bottom: 10%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
   
#items_counter span{
    background-color: rgb(255, 255, 119);
    padding: 0.4%;
}