body{
    background-image: url("../images/basket.jpeg");
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#wolf {
    position: fixed;
    width: 9.5%;
    height: 13%;
    top: 5%;
    right: 39%;
}

#grandmother {
    position: fixed;
    width: 7%;
    height: 21.5%;
    top: 7%;
    left: 6%;
}


#explane_text {
    position: fixed;
    font-family: 'Nunito', sans-serif;
    font-size: 215%;
    text-align: center;
    color: rgb(0, 0, 0);
    left: 23%;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.724);
}


#cape {
    position: fixed;
    width: 8%;
    height: 16%;
    top: 45%;
    right: 12%;
}

#book {
    position: fixed;
    width: 10%;
    height: 15%;
    top: 55.3%;
    right: 45.3%;
    transform: rotate(-45deg);
}


#items_counter {
    position: fixed;
    padding: 0.4%;
    width: 16%;
    height: 4%;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 119);
    top: 89.5%;
    right: 2.5%;
    display: inline-block;
    vertical-align: middle;
}