#background-image{
    display: flex;
    justify-content: center;
    z-index:1; 
    position: absolute;
    width: 100%;
    height: 98%;
 
}

#library{
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#libraryDiv{
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 2;
}

#PickTheBasket{
    background-color: blue;
    width: 100px;
    height: 100px;
    z-index: 2;
}

