#background-image{
    display: flex;
    justify-content: center;
    /*z-index:2;*/
    position: absolute;
    width: 100%;
    height: 98%;
    
 
}

body{
    background-image: url("../images/library.jpg");
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    /*background-position: center;*/
    background-attachment: fixed;
    
    
}

#ExplainingDiv{
    /*position: absolute;*/
    top: 45%;
    left: 16px;
    z-index: 3;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;
    background-color: rgba(122, 5, 5, 0.574);
    text-align: center;
    width: 320px;
    height: 90px;
    position: fixed;
}


#libraryTheImageBackground{
   
  background-repeat: no-repeat;
    background-size: 100% 100%;
    
    /*background-position: center;*/
    background-attachment: fixed;
    
}

#libraryDivBackgroundImage{
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
}

#PickTheBasket{
    background-color: rgba(255, 255, 255, 0);
    width: 8.5%;
    height: 5.5%;
    position: fixed;
    top: 56.5%;
    z-index: 2;
    right: 45%;
}

#TheActuallyLibrary{
    z-index: 1;
    position: fixed;
    height: 100%;
    width: auto;
}

