#background-image{
    display: flex;
    justify-content: center;
    /*z-index:2;*/
    position: absolute;
    width: 100%;
    height: 98%;
    
 
}

/*body{
    background-image: url("../images/library.jpg");
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    /*background-position: center;
    background-attachment: fixed;
    
    
}*/

#ExplainingDiv{
    /*position: absolute;*/
    top: 45%;
    left: 16px;
    z-index: 3;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;
    background-color: rgba(122, 5, 5, 0.574);
    text-align: center;
    width: 320px;
    height: 90px;
    position: fixed;
}


#libraryTheImageBackground{
   
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    
}

#libraryDivBackgroundImage{
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
    background-size: cover;
}

#PickTheBasket{
    background-color: rgba(79, 240, 30, 0);
    width: 7%;
    height: 6%;
    position: fixed;
    top: 75%;
    z-index: 2;
    right: 63.5%;
}

#TheActuallyLibrary{
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
}

