.inpuT {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
    width: 50px;
    margin-left: 100px;
    height: 50px;
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;
    border-radius: 15px;
  background: #4f9ec6;
  }