.f1{
    background: url('https://i.pinimg.com/1200x/29/98/2b/29982bb0fe1c03d95c11d0144be79938.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.f2{
    background: url('https://i.ytimg.com/vi/6GMtm3nFyzM/maxresdefault.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;

    
}

.f3{
    background: url('https://rare-gallery.com/thumbs/4591513-digital-art-drawing-painting-landscape-nature-forest-trees-deviantart-fantasy-art.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.f4{
    background: url('https://i.pinimg.com/originals/71/8b/1b/718b1b205e0da6a1ca4a9027f9afccea.png');
    background-size: cover;
    width: 100%;
    height: 100%;

}

.Note{
    background: url('https://i.pinimg.com/736x/79/1a/42/791a4230efcc5bc5f33293c1d5e96d51.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    
}


.direction {
    margin-left: 90%;
    margin-top: 15%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%
}

.backToMain {
    margin-top: 15%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

#note {
    width: 2%;
    height: 0.7%;
    margin-left: 40%;
    margin-top: 20%;
}

#eNote{
    margin-left: 25%;

}

