.os{
    background: url("opening_screen.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.backToMain {
    
    transform: scaleX(-1);
    transform: scaleX(-1);
    left: 92%;
    top: 85%;
    width: 5%;
    height: 7%;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
}

#text{
    margin:20px;
    text-align: left;
    position: fixed;
    color: #ffffff;
    background-color: rgba(0, 70, 33, 0.5);
    padding:10px;
}

